In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/Predator/Desktop/Lauti/Programaci√≥n/GitHub/2. Data Analytics/#2/datasets/olist_products_dataset.csv')
df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

### **Missing values**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [5]:
columns = df.columns.to_list()
for i in columns:
    print(f"faltantes en {i}: =======> {df[i].isna().sum()} en porcentaje: {round((df[i].isna().sum() / df.shape[0])*100, 2)}%")

faltantes en product_id: =======> 0 en porcentaje: 0.0%
faltantes en product_category_name: =======> 610 en porcentaje: 1.85%
faltantes en product_name_lenght: =======> 610 en porcentaje: 1.85%
faltantes en product_description_lenght: =======> 610 en porcentaje: 1.85%
faltantes en product_photos_qty: =======> 610 en porcentaje: 1.85%
faltantes en product_weight_g: =======> 2 en porcentaje: 0.01%
faltantes en product_length_cm: =======> 2 en porcentaje: 0.01%
faltantes en product_height_cm: =======> 2 en porcentaje: 0.01%
faltantes en product_width_cm: =======> 2 en porcentaje: 0.01%

In [6]:
def fill_values(df:pd.DataFrame):
    for i in df.columns:            
        if df[i].dtype == 'object':
            df[i] = df[i].fillna('sin dato')
        
        elif df[i].dtype == 'float64':
            df[i] = df[i].fillna(0)

In [7]:
fill_values(df)

In [8]:
columns = df.columns.to_list()
for i in columns:
    print(f"faltantes en {i}: =======> {df[i].isna().sum()} en porcentaje: {round((df[i].isna().sum() / df.shape[0])*100, 2)}%")

faltantes en product_id: =======> 0 en porcentaje: 0.0%
faltantes en product_category_name: =======> 0 en porcentaje: 0.0%
faltantes en product_name_lenght: =======> 0 en porcentaje: 0.0%
faltantes en product_description_lenght: =======> 0 en porcentaje: 0.0%
faltantes en product_photos_qty: =======> 0 en porcentaje: 0.0%
faltantes en product_weight_g: =======> 0 en porcentaje: 0.0%
faltantes en product_length_cm: =======> 0 en porcentaje: 0.0%
faltantes en product_height_cm: =======> 0 en porcentaje: 0.0%
faltantes en product_width_cm: =======> 0 en porcentaje: 0.0%

In [9]:
columns = df.columns
columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

In [10]:
types = df.dtypes

In [11]:
for i in types:
    print(i)

object
object
float64
float64
float64
float64
float64
float64
float64

In [12]:
df.dtypes

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

### **Duplicated values**

In [13]:
df[df.duplicated(subset="product_id")]

Empty DataFrame
Columns: [product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm]
Index: []