In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/Predator/Desktop/Lauti/Programaci√≥n/GitHub/2. Data Analytics/#2/datasets/olist_sellers_dataset.csv")
df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

### **Null values**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [5]:
columns = df.columns.to_list()
for i in columns:
    print(f"faltantes en {i}: =====> {df[i].isna().sum()} <===== en porcentaje: {round((df[i].isna().sum() / df.shape[0])*100, 2)}%")

faltantes en seller_id: =====> 0 <===== en porcentaje: 0.0%
faltantes en seller_zip_code_prefix: =====> 0 <===== en porcentaje: 0.0%
faltantes en seller_city: =====> 0 <===== en porcentaje: 0.0%
faltantes en seller_state: =====> 0 <===== en porcentaje: 0.0%

### **Duplicated values**

In [6]:
df[df.duplicated(subset="seller_id")]

Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix, seller_city, seller_state]
Index: []

### **Outliers & atipic values**

In [7]:
df["seller_city"].value_counts()

sao paulo              694
curitiba               127
rio de janeiro          96
belo horizonte          68
ribeirao preto          52
                      ...
taruma                   1
s jose do rio preto      1
domingos martins         1
messias targino          1
leme                     1
Name: seller_city, Length: 611, dtype: int64